.savings {
  display: flex;
  width: 100%;
  justify-content: space-between;
  grid-row: 3;
  grid-column: span 3;
  margin-top: 50px;
}

.item {
  background: white;
  display: flex;
  border-radius: 25px;
  padding: 15px 20px;
  height: fit-content;
  align-items: center;
  width: 250px;
  justify-content: space-evenly;
}
.icon {
  width: 70px;
  height: 70px;
}
.name {
  color: #718ebf;
}
.value {
  font-size: 25px;
  color: #232323;
  font-weight: 600;
  line-height: 0;
}
